@media (max-width: 575.98px) {

    .banner h1,
    h2 {
        font-size: 3.5rem;
    }

    .banner h6 {
        font-size: 1rem;
        margin-top: 30px;
    }

    .btn-banner button {
        margin-top: 40px;
    }

    .arab {
        font-size: 2.1rem;
    }

    .greet {
        text-align: justify;
        font-size: .8rem;
    }

    .mempelai p {
        text-align: justify;
    }

    .judul-mempelai {
        font-size: 2.7rem;
    }

    .konfirmasi {
        font-size: 1rem;
    }

    .text-mempelai h6 {
        font-size: 2.1rem;
    }

    .text-mempelai p {
        font-size: .8rem;
    }

    .std h4 {
        font-size: 1.9rem;
    }

    .std p {
        font-size: .8rem;
    }

    .resepsi {
        font-size: 2.8rem;
    }

    .alamat {
        font-size: 1rem;
    }

    .covid {
        font-size: 1rem;
    }

    .text-covid1 {
        font-size: 2rem;
    }

    .text-covid2 {
        font-size: 1rem;
    }

    .logo-prokes {
        width: 43%;
        padding-bottom: 10px;
        margin: 0;
    }

    .prokes {
        font-size: .6rem;
    }

    .kemenkes {
        width: 60%;
        text-align: center;
    }

    .note h2 {
        font-size: 2.5rem;
    }

    .note p {
        font-size: 1rem;
        text-align: justify;
    }

    .amplop-item .ovo {
        padding-bottom: 0px;
    }

    .amplop-item .linkAja {
        width: 100%;
        padding-bottom: 0;
    }

    .no-tlp {
        font-size: 1.2rem;
        margin-top: 40px;
    }

    .amplop p {
        font-size: 1rem;
    }

    .created p {
        font-size: 1rem;
    }

}

@media (max-width: 767.98px) {

    .banner h1,
    h2 {
        font-size: 3.3rem;
    }

    .banner h6 {
        font-size: .9rem;
        margin-top: 30px;
    }

    .btn-banner button {
        margin-top: 40px;
    }

    .arab {
        font-size: 2.1rem;
    }

    .greet {
        text-align: justify;
        font-size: 1rem;
    }

    .mempelai p {
        text-align: justify;
    }

    .judul-mempelai {
        font-size: 2.5rem;
    }

    .text-mempelai h6 {
        font-size: 2.3rem;
    }

    .text-mempelai p {
        font-size: .8rem;
        text-align: center;
    }

    .std h4 {
        font-size: 2rem;
    }

    .std p {
        font-size: .9rem;
    }

    .resepsi {
        font-size: 2.5rem;
    }

    .alamat {
        font-size: 1rem;
    }

    .covid {
        font-size: 1rem;
    }

    .text-covid1 {
        font-size: 2rem;
    }

    .text-covid2 {
        font-size: 1rem;
    }

    .logo-prokes {
        width: 43%;
        padding-bottom: 10px;
        margin: 0;
    }

    .prokes {
        font-size: .6rem;
    }

    .kemenkes {
        width: 60%;
        text-align: center;
    }

    .note h2 {
        font-size: 2rem;
    }

    .note p {
        font-size: 1rem;
        text-align: justify;
    }

    .ovo {
        width: 60%;
        padding-bottom: 0;
    }

    .amplop-item .linkAja {
        width: 90%;
        padding-bottom: 0;
    }

    .no-tlp {
        font-size: 1.1rem;
        margin-top: 40px;
    }

    .amplop p {
        font-size: 1rem;
    }

    .created p {
        font-size: 1rem;
    }

    footer {
        margin-top: 20px;
    }
}

@media (max-width: 991.98px) {
    .logo-prokes {
        width: 43%;
        padding-bottom: 10px;
        margin: 10px;
    }

    .prokes {
        font-size: .6rem;
    }

    .kemenkes {
        width: 60%;
        text-align: center;
    }
}



@media (min-width: 992px) {
    .logo-prokes {
        width: 20%;
        padding-bottom: 10px;
        margin: 10px;
        box-sizing: border-box;

    }

    .prokes {
        font-size: 1rem;
    }

    .kemenkes {
        width: 25%;
        text-align: center;
    }
}