/* Google Maps */

[style*="--aspect-ratio"]> :first-child {
    width: 100%;
}

[style*="--aspect-ratio"]>img {
    height: auto;
}

@supports (--custom:property) {
    [style*="--aspect-ratio"] {
        position: relative;
    }

    [style*="--aspect-ratio"]::before {
        content: "";
        display: block;
        padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    [style*="--aspect-ratio"]> :first-child {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
    }
}

/* akhir Google maps */


img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

a {
    text-decoration: none;
}

.hiasan {
    width: 100%;
    text-align: center;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
    color: rgb(76, 76, 76)
}

.greet {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.arab {
    color: #333;
    font-size: 2.2rem;
    color: rgb(182, 150, 172);
}

.hero-section::after {
    content: '';
    top: 0;
    background-image: linear-gradient(to bottom, rgb(216, 182, 206), rgba(0, 0, 0, 0));
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.banner h1,
h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 4.8rem;
}

.banner h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
    font-size: 1.2rem;
}

.btn-banner button:hover {
    background-color: rgb(216, 182, 206);
    border-color: rgb(216, 182, 206);
    transition: .8s;
    color: #fff;

}


.alamat {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.judul-mempelai {
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    color: rgb(182, 150, 172);
}

.mempelai {
    background-color: #f5f5f5;
}

.mempelai p {
    text-align: center;
}

.akad {
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
    margin: 15px;
}

.card-body {
    box-shadow: 0px 2px 18px rgb(0 0 0 / 10%);
}

.card-text {
    font-family: "tangerine";
    font-weight: bold;
}

.text-mempelai h6 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}

.text-mempelai p {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.std h4 {
    font-family: 'Satisfy', cursive;
    font-size: 2.4rem;
    color: rgb(182, 150, 172);
}

.std p {
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.resepsi {
    font-family: 'Satisfy', cursive;
    font-size: 3rem;
    color: rgb(182, 150, 172);
}


.covid {
    background-color: rgb(216, 182, 206);
    display: block;
    width: 100px;
    border-radius: 50px;
    padding: 5px;
}

h4 {
    font-size: 2.5rem;
    color: #333;
}

span {
    color: rgb(182, 150, 172);
}


.logo-prokes {
    box-sizing: border-box;
    padding: 50px;
    box-shadow: 2px 0 35px 0 rgb(68 88 144 / 10%);
    object-fit: cover;
}

.prokes {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.img-thumbnail {
    border: none;
    margin-top: -30px;
}

.kemenkes {
    width: 25%;
    padding: 30px;
}

.note {
    background-color: #f5f5f5;
}

.note h2 {
    color: rgb(182, 150, 172);
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
}

.note p {
    color: rgb(97, 94, 94);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.btn-custom {
    background-color: #7356A3;
    padding: 8px 30px;
    margin: 10px;

}

.btn-custom:hover {
    background-color: rgb(33, 33, 33);
}

.amplop {
    background-color: #f5f5f5;
}

.amplop-item {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 20px;
}

.ovo {
    width: 30%;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
}

.linkAja {
    width: 45%;
    height: auto;
    padding: 25px;
    box-sizing: border-box;
}

.no-tlp {
    font-size: 1.5rem;
}

footer {
    padding-top: 20px;
}

.created p {
    text-align: center;
    color: rgb(76, 76, 76);
    font-size: 1rem;
}

footer .icon {
    text-align: center;
    color: rgb(76, 76, 76);
}

.icon a {
    color: rgb(76, 76, 76);
    margin-right: 10px;
}

.icon a:hover {
    cursor: pointer;
}

.bi-facebook {
    color: #488CF0;
}

.bi-facebook:hover {
    color: #3360a3;
}

.bi-instagram {
    color: #D12C84;
}

.bi-instagram:hover {
    color: #ad226c;
}

.bi-whatsapp {
    color: #64CE60;
}

.bi-whatsapp:hover {
    color: #499b46;
}


/* Footer Wave Animations */
#footer-navmenu .wave-animation {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    bottom: initial;
    top: 0;
    height: 5em;
}

#footer-navmenu {
    padding-top: 50px;
    background: linear-gradient(to right, #654ea3, #eaafc8);
    position: relative;
}

#footer-navmenu-container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#footer-navmenu ul {
    list-style: none;
    margin: 0;
}

#footer-navmenu ul li {
    display: inline-block;
    margin: 6px 0;
}

#footer-navmenu ul li:last-child::after {
    content: "";
}

#footer-container {
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

/* Wave Animation */
.wave-animation {
    display: block;
    width: 100%;
    height: 8em;
    max-height: 100vh;
    margin: 0;
    position: absolute;
    bottom: -10px;
}

.wave-bg>use {
    -webkit-animation: move-forever 20s linear infinite;
    animation: move-forever 20s linear infinite;
}

.wave-bg>use:nth-child(1) {
    animation-delay: -2s;
    fill: rgba(232, 174, 199, 0.58);
}

.wave-bg>use:nth-child(2) {
    animation-delay: -2s;
    animation-duration: 10s;
    fill: rgba(232, 174, 199, 0.85);
}

.wave-bg>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 8s;
}

@-webkit-keyframes move-forever {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

.wave-animation {
    height: 3em;
}

.wave-animation {
    height: 4em;
}

/* Akhir Animasi Gelombang */